body, html { 
	height: 100%;
}

#map-canvas {
	height: 60%;
	width: 50%;
	float: left;
}

#list-container {
	height: 100%;
	overflow: auto;
	padding-bottom: 20px;
	float: right;
	width: 50%;
}

.class-entry {
	list-style-type: none;
}

.hidden {
	display: none;
}
