body, html {
    height: 100%;
    background-color: #2c3e50;
}

#map-canvas {
    background-color: rgb(229, 227, 223);
    height: 60%;
    width: 100%;
}

/* table stuff */
table {
    border: none;
}

.icon-spacer {
    float:left;
    width: 2em;
}

.class-entry {
    list-style-type: none;
    font-size:80% !important;
}

#google_translate_element {
    padding-top: 1em;
}

.navigation {
    padding-top: 15px;
    min-height: 70px;
}

.nav-options {
    padding-right:0;
}

.navigation a {
    text-decoration: none;
    color: #bdc3c7;
    text-align: left;
    font-size:16px;
}

#pac-input{
    display: none;
    margin-top: 6px;
}

#walkin-filter input {
    margin-right: 4px;
}