body, html {
	height: 100%;
	background-color: #2c3e50;
}

#map-canvas {
	height: 60%;
	width: 100%;
}

body {
  padding-top: 60px;
}

@media (max-width: 767px) {
  body {
  padding-top: 96px;
  }
}

/* table stuff */
table {
	border: none;
}

.icon-spacer {
	float:left;
	width: 2em;
}

.class-entry {
	list-style-type: none;
	font-size:80% !important;
}

#google_translate_element {
	padding-top: 1em;
}

ul{
  list-style-type: none;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.navbar-default{
    background-color: #2c3e50;
}

.navbar {
	min-height:60px;
}
