body, html { 
	height: 100%;
	background-color: #088A08;
}

#map-canvas {
	height: 90%;
	width: 100%;
}

.class-entry {
	list-style-type: none;
}

ul{
    list-style-type: none;
}

.hidden {
	display: none;
}

.navbar-default{
    background-color: #f8f800 !important;
}
